services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    image: tab-chain-nextjs:latest
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production
    restart: unless-stopped
